Backend/backend-app/xml-schemas/roomType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.tim17.com/roomType" xmlns:roomType="http://www.tim17.com/roomType">

    <xs:complexType name="RoomType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
